body{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    
}
p{
    margin-top: 40px;
    margin-left: 40px;
}
a{  background-color: blueviolet;
    color: aliceblue;
    text-decoration: none;
   font-weight: 600;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    
}
#Wel-1{
    text-align: center;
    border: 2px solid red;
    border-radius: 9px;
}


#Navigation-1{
display: inline;
text-decoration: none;
text-align: right;

}